/*Téléchargement de la police*/
@font-face{
    font-family: 'Raleway';
    src: url(Polices/Raleway-Regular.svg) format('svg');
    src: url(Polices/Raleway-Regular.ttf) format('truetype');
}
/*Général*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F2F2F2;
}
/*Entête*/
#logo{
    width: 100px;
    height: 50px;
}
#entête{  
    position: relative;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
}
#menu{
    font-family: 'Raleway', sans-serif;  
    display: inline-flex;
    position: absolute;
    right: 90px;
    margin-top: 12px;
    font-size: 20px;
    list-style: none;
}
#inscription{
    font-family: 'Raleway';
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #0065FC;
    font-weight: bold;
}
#hebergement, #activites{
    margin-right: 70px;
    color:gray;
}
a{
    text-decoration: none;
}
#hebergement:hover, #activites:hover, #inscription:hover{    
    border-top: #0065FC 5px solid;
    padding-top: 28px;
    margin-top: -31px;
}
/*Format Mobile*/
@media all and (max-device-width: 480px)
{
    *{
        padding: 0;
        margin: 0;
    }
   #entête{
       width: 100%;
       margin: auto;     
       position: absolute;       
   }
   #logo{
       margin: 20px;
   }
   #inscription{
       position: absolute;
       top: 35px;
       left: 430px;
       font-size: 1.5em;       
   }
   #menu{
       width: 550px;
       margin: auto;
       position: relative;
       left: 1px;
       border-bottom: rgba(128, 128, 128, 0.1) 5px solid;
   }
   #activites, #hebergement{       
       font-size: 1.5em;
   }
    #activites{
       margin-right: 10px;
   }
   #hebergement{
       padding-right: 30px;
       padding-left: 40px;
   }
}   