/*Téléchargement de la police*/
@font-face{
    font-family: 'Raleway';
    src: url(Polices/Raleway-Regular.svg) format('svg');
    src: url(Polices/Raleway-Regular.ttf) format('truetype');
}

/*Général*/
*{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: normal;
}
h1{
    font-weight: bolder;
    font-size: 1.4em;
}
h2{
    margin-top: -10px;
}
img{
    width: 50px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
/*Entête*/
#entete{
    display: flex;
    margin-top: 40px;
}
#logo{
    width: 100px;
}
#menu{
    margin-left: 70%;    
    width: 300px;
}
#menu_activites{
    margin-left: 60px;
}
#inscription{
    color: #0065FC;
    font-weight: bold;   
}
#menu_hebergement:hover, #menu_activites:hover, #inscription:hover{  
    border-top: #0065FC 4px solid;
    color: #0065FC;
    margin-top: -39px;   
    padding-top: 35px;
}
/*Partie Principale*/
/*Barre de recherche*/
#recherche{
    border-top: rgb(128, 128, 128) 1px solid;
    border-bottom: rgb(128, 128, 128) 1px solid;
    border-left: rgb(128, 128, 128) 1px solid;
    border-radius: 15px;
    display: inline-flex;
    width: 420px;
    height: 40px;
}
#marquer{
    border-right: rgba(0, 0, 0, 0.315) 0.5px solid;
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 45px;
    margin-left: 0;
}
#barre{
    border: rgba(128, 128, 128, 0.048) 1px solid;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 70px;
}
#bouton{
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    border: rgba(128, 128, 128, 0.048) 5px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 6.5px;
    padding-top: 6.9px;
    padding-bottom: 6px;
    margin-left: -110px;
    cursor: pointer;
}
#loupe{
    display: none;
}
/*Pied*/
#pied{
    font-family: 'Raleway';
    display: flex;
    width: 100%; 
    padding: 30px;   
    background-color: #F2F2F2;
}
#propos, #nos_hebergement{
    padding-right: 24%;
}
footer li a:hover{
    text-decoration: underline;
    color: #0065FC;
}
/*Format Mobile*/
@media all and (max-device-width: 640px)
{
    /*Entête mobile*/
    #entête{
        background-color: black; 
        margin: 0px;
        padding: 0px;
   }
   #inscription{
        margin-top: px;
        margin-right: 0px;
   }
    #menu{
        background-color: #0065FC;
        top: 70px;
        left: 0px;
        font-size: 1.2em;
        color: black;
        border-bottom: gray 5px solid;
        padding: 10px;
    }
    #hebergement, #activites{
        background-color: #0065FC;
        
    }
    /*Footer mobile*/
     #pied{
        margin-top: 40px;
        display: block;
   }
}  