/*Version mobile*/
/*Général*/
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 5%;
}
h1{
    font-size: 1.5em;
    margin-top: 7%;
}
h2{
    font-size: 1.1em;
    margin-top: 3%;
    margin-bottom: 10%;
}
h3{
    font-size: 1.1em;
    margin-top: 10px;
}
h4{
    font-size: 1em;
}
/*Entete*/
#logo{
    height: 10%;
}
header{
    flex-wrap: wrap;
}
header span{
    margin-top: 5%;
    border-bottom: 5px #c0bebe70 solid;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#menu_activites, #menu_hebergement{
    padding: 0;
}
#menu_hebergement{
    margin-right: 80px;
}
#menu{
    flex-wrap: wrap;  
}
#inscription{
    margin-top: -30px;
    font-size: 1.2em;
}
#inscription:hover{
    border: none;
    padding-top: 9px;
}
#menu_hebergement:hover, #menu_activites:hover{
    color: #0065FC;
    border: none;
    padding-top: 40px;
}
/*Recherche*/
#recherche{
    width: 100%;
    margin-bottom: 20px;
}
#marquer{
    width: 60px;
}
#bouton{
    width: 60px;
}
#loupe{
    display: initial;
}
#bouton span{
    display: none;
}
/*Filtres*/
#menu_filtres{    
    margin-top: 0;
    flex-wrap: wrap;
}
p i{
    float: left;
}
p span{
    font-size: 1.2em;
}
#infos{
    margin-top: 20px;
}
/*Hebrgements*/
#Hébergements{
    padding: 0;
    width: 100%;
    flex-direction: column;
}
#populaire, #standar{    
    margin-top: 10px;
    padding: 0;
    width: 100%;
}
#standar{
    background-color: initial;
    margin-bottom: 10%;
}
h3 i{
    float: right;
    margin-right: 5%;
}
#pligne, #dligne{
    flex-direction: column;
}
.carte_hotel_stand{
    width: 90%;
}
#afficher{
    margin-top: 0;
}
/*Activités*/
.activites{
    flex-direction: column;
}
.carte_activites, .conteneur_carte_activites{
    width: 100%;
}
.carte_activites{
   width: auto;
   height: 45%;
}
.img_activites{
    height: 80%;
}
/*Pied*/
#pied{
    width: 90%;
    margin-top: 950px;
    display: inline-block;
}
footer div{
    margin-top: 10%;
}
#assistance{
    margin-bottom: 10%;
}
footer{
    padding: 20px;
}
@media screen and (max-width: 350px){
    h4{
        font-size: 0.8em;
    }
}
