/*Téléchargement de la police*/
@font-face{
    font-family: 'Raleway';
    src: url(../Polices/Raleway-Regular.svg) format('svg');
    src: url(../Polices/Raleway-Regular.ttf) format('truetype');
}
/*Général*/
body{
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-size: 1.7em;
}
h2{
    font-weight: normal;
    margin-top: -10px;   
}
h3{
    font-weight: bolder;
    font-size: 1.5em;
    margin-left: 10px;
}
h4{
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 5px;
}
ul{
    list-style: none;
}
/*Entête*/
#entete{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#logo{
    margin-top: -20px;
    width: 100px;
}
#menu{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#inscription{
    color: #0065FC;
    font-weight: bold;  
}
#menu_hebergement, #menu_activites{
    margin-right: 50px;
}
#menu_hebergement, #menu_activites, #inscription{
    padding-left: 25px;
    padding-right: 25px;
}
#menu_hebergement:hover, #menu_activites:hover{  
    border-top: #0065FC 5px solid;
    color: #0065FC;
    margin-top: -40px;   
    padding-top: 36px;
}
#inscription:hover{
    border-top: #0065FC 5px solid;
    color: #0065FC;
    margin-top: -40px;   
    padding-top: 35px;
}
/*Partie Principale*/
/*Barre de recherche*/
#recherche{
    height: 50px;
}
#bouton, #barre, #loupe{
    border: rgba(128, 128, 128, 0.2) 0.5px solid;
}
#marquer{
    justify-content: center;
    align-items: center;
    width: 60px;
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    background-color: rgba(197, 194, 194, 0.2);
}
#barre{
    width: 310px;
    border-right: none;
    padding-left: 20px;
    font-size: 1.5em;
}
#bouton{
    font-size: 1.2em;
    background-color: #0065FC;
    color: white;    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
    cursor: pointer;    
    width: 160px;
}
#loupe{
    display: none;
}
#marquer, #recherche{
    display: flex;
}
#bouton:hover{
    background-color:#DEEBFF;
    color: #0065FC;
}
/*Filtres*/
#menu_filtres{
    display: inline-flex;
    margin-top: 30px;
}
#titre_filtres{
    margin-right: 20px;
    font-weight: bolder;
    font-size: 1.5em;
}
#eco, #fami, #romance, #animaux{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: rgba(128, 128, 128, 0.5) 0.5px solid;
    border-radius: 15em;
    border-left: none;
    font-weight: bolder;  
    position: relative; 
    height: 50px;  
    margin-right: 20px;
    font-size: 1.3em;
    padding-left: 40px;
}
#eco{
    width: 180px;
}
#fami{
    width: 115px;    
}
#romance{
    width: 170px;
}
#animaux{
    width: 220px;
}
#billet, #coeur, #chien, #famille{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 15px;  
    border: rgba(128, 128, 128, 0.5) 0.5px solid;
    position: absolute;
    left: -10px;
}
#eco:hover, #fami:hover, #romance:hover, #animaux:hover{
    background-color: #0065FC;
    color: white;
}
#infos{
    display: inline-flex;
}
p i{
    border: rgba(128, 128, 128, 0.5) 0.5px solid;
    border-radius: 100%;
    padding: 0.5em;
    color: #0065FC;
    margin-top: 15px;
    margin-bottom: 15px;
}
p span{
    margin-top: 20px;
    font-size: 1.1em;
}
/*Hébergements*/
#Hébergements{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}
#standar, #populaire{
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
#standar{
    margin-right: 50px;
    width: 65%;
}
/*Résultats standard*/
.img_hotel_stand{
    width: 100%;
    height: 60%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.carte_hotel_stand{
    width: 30%;
    height: 200px;    
}
.carte_hotel_stand p{
    margin: 5px;
    margin-left: 0;
}
#pligne{
    display: inline-flex;
    justify-content: space-between;    
    width: 100%;
}
#dligne{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
#afficher{
    margin-top: 40px;
    font-weight: bolder;
    margin-left: 10px;   
}
#afficher a:hover{
    color: #0065FC;
}
/*Populaires*/
.bloc_etoile{
    float: bottom;
}
.etoile_bleue{
    color: #0065FC;
}
.etoile_grise{
    color: rgba(128, 128, 128, 0.25);
}
.img_hotel_pop{
    float: left;
    height: 100%;
    width: 40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 20px;
}
.carte_hotel_pop p{
    margin-top: 0;
    margin-bottom: 50px;
}
h3 i{
    padding-left: 100px;
}
#populaire{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 650px;   
}
/*Cartes*/
.carte_hotel_pop, .carte_hotel_stand, .carte_activites, .demi_carte{
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    box-shadow: gray 1px 1px 10px;
}
.carte_hotel_pop{
    height: 150px;   
}
.carte_hotel_pop:hover, .carte_hotel_stand:hover, .carte_activites:hover, .demi_carte:hover{
    background-color: #DEEBFF;
}
.carte_hotel_pop, .carte_hotel_stand{
    padding: 5px;
}
/*Activités*/
.activites{
    display: inline-flex;
    width: 100%;
    height: 500px;
}
.conteneur_carte_activites{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.carte_activites{
    width: 20%;
}
.demi_carte, .carte_activites{
    margin: 10px;
}
.demi_carte{
    height: 45%;
}
.mini_img_activites, .img_activites{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%; 
}
.mini_img_activites{
    height: 150px;
}
.img_activites{
    height: 400px;
}
section h4{
    font-weight: bolder;
    font-size: 1em;
}
/*Pied*/
.titre_liste{
    font-weight: bolder;
    font-size: 1.2em;
}
li{
    margin-top: 20px;
}
#pied{
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
}
#propos, #nos_hebergement{
    padding-right: 24%;
}
footer li a:hover{
    color: #0065FC;
}